.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
}

.dark-mode .card-header,
.dark-mode .card-footer {
  background-color: #333;
}

.dark-mode .btn {
  background-color: #444;
  color: white;
}

.dark-mode .btn-outline-light {
  border-color: #ccc;
}

.dark-mode .bg-dark {
  background-color: #222 !important;
}

.dark-mode .list-group-item {
  background-color: #333;
  color: white;
}

.dark-mode .list-group-item:hover {
  background-color: #444;
}

.dark-mode .bg-danger {
  background-color: #bb2525 !important;
}

.dark-mode .text-dark {
  color: #ccc !important;
}

/* Background */
.dark-mode body {
  background-color: #181818;
  /* Darker background */
}

/* Additional Styling for Footer */
.dark-mode footer {
  background-color: #333;
}

.dark-mode .bg-light {
  background-color: #1f1f1f !important;
}
